:root {
  --background: #ffffff;
  --foreground: #171717;
  --foreground-transparent: rgba(23, 23, 23, 0.75);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --foreground-transparent: rgba(237, 237, 237, 0.75);
  }
}

/* html,
body {
  max-width: 100vw;
  overflow-x: hidden;
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  color: var(--foreground);
}

@keyframes line-through {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}